body{
    background-color: #f2cfda;
 font-family: sans-serif;
 text-align: center;
color: rgb(32, 32, 32);
}

.topimg{

width:100%;
height: 400px;
}
.buttondiv{
display: flex;
justify-content: center;   
margin: 20 px;

}

  

button{
    
 background:#f8f4f5;
  border-radius: 12px; /* Rounded corners look better with pastels */
  border: none; /* Removing the thin black line for a cleaner look */
  font-size: 80px;
  margin: 30px;
  transition: all .3 ease-in-out;
  cursor: pointer;

}
    
button:hover{
 opacity: 0.7;
}
